.paragraph{
    margin-top: 100px;
    clear:right;
    align-items: right;
    
}

img{
    
    float: left;
    margin: 10px;
    padding:25px;
    
    
}

.Homepage{
    

    background-color: black;
    color: white;
}


